.header_container {
  border: 1px solid red;
  display: flex;
}
.left_header ul {
  display: flex;
}
.header_item {
  width: 233px;
  height: 50px;
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}
