.section {
  width: 1920;
  height: 980px;
  /* border: 1px solid red; */

  background-image: url("../../assets/images/blur-hospital.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
